<div role="tabpanel" class="tab-pane fade active in" id="tabProfile">
  <div class="row">
    <div class="col-md-8 col-sm-offset-2">
      <h3>مرشد ملا</h3>
      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <tbody>
              <tr>
                <td>تاريخ الميلاد</td>
                <td>05/05/1987</td>
              </tr>
              <tr>
                <td>الجنسية</td>
                <td>{{worker.nationality}}
                  <td>
              </tr>
              <tr>
                <td>الحالة الإجتماعية</td>
                <td> {{worker.maritalStatus}}</td>
              </tr>
              <tr>
                <td>اللغات المتحدث بها</td>
                <td>{{worker.language}}</td>
              </tr>
              <tr>
                <td>الوظيفة</td>
                <td> {{worker.code}}</td>
              </tr>
              <tr>
                <td>Religion</td>
                <td> {{worker.religion}}</td>
              </tr>
              <tr>
                <td>Agent</td>
                <td>{{worker.agent}}</td>
              </tr>
              <tr>
                <td>Height</td>
                <td>{{worker.height}}</td>
              </tr>
              <tr>
                <td>Weight</td>
                <td>{{worker.weight}}</td>
              </tr>

            </tbody>
          </table>
        </div>
        <div class="col-sm-6">
          <p><img [src]="worker.photo" class="img-thumbnail img-responsive" width="100%" /></p>
        </div>
        <p><input type="submit" value="سجل" (click)="Book()" class="btn btn-default" id="bookProfile" /></p>
        <div class="btn btn-default" (click)="GoBack()">Back</div>
      </div>
    </div>
  </div>

</div>