<div role="tabpanel" class="tab-pane fade active in" id="tabProfile">
  <div class="row">
    <div class="col-md-8 col-sm-offset-2">
      <h3>{{worker.workerName}}</h3>
      <div class="row">
        <div class="col-sm-6">
          <table class="table">
            <tbody>
              <tr>
                <td>{{'name' | translate}}</td>
                <td>{{worker.workerName}}</td>
              </tr>
              <tr>
                <td>{{'price' | translate}}</td>
                <td>{{worker.price}}</td>
              </tr>
              <tr>
                <td>{{'birthday' | translate}}</td>
                <td>{{worker.birthDate}}</td>
              </tr>
              <tr>
                <td>{{'nationality' | translate }}</td>
                <td>{{worker.nationality}}
                  <td>
              </tr>
              <tr>
                <td>{{'martialStatus' | translate}}</td>
                <td> {{worker.maritalStatus}}</td>
              </tr>
              <tr>
                <td>{{'language' | translate }}</td>
                <td>
                  <ul>
                    <li *ngFor="let language of worker.languages">
                      {{language.name}}
                    </li>
                  </ul>
                </td>
              </tr>
              <tr>
                <td>{{'work' | translate }}</td>
                <td> {{worker.name}}</td>
              </tr>
              <tr>
                <td>{{'religion' | translate }}</td>
                <td> {{worker.religion}}</td>
              </tr>
              <tr>
                <td>{{'reference' | translate }}</td>
                <td>{{worker.passportNumber}}</td>
              </tr>
              <tr>
                <td>{{'height' | translate }}</td>
                <td>{{worker.height}}</td>
              </tr>
              <tr>
                <td>{{'weight' | translate }}</td>
                <td>{{worker.weight}}</td>
              </tr>
              <tr>
                <td>{{'Hobbies' | translate }}</td>
                <td> {{worker.hobbies}}</td>
              </tr>
              <tr>
                <td>{{'Location' | translate }}</td>
                <td> {{worker.location}}</td>
              </tr>
              <tr>
                <td>{{'Period' | translate }}</td>
                <td> {{worker.period}}</td>
              </tr>
              <tr>
                <td>{{'Experience' | translate}}</td>
                <td>
                  <div class="box" *ngFor="let exp of transformXptoArray(worker.experiences)">
                    <li>{{'title' | translate }} {{exp.title}}</li>
                    <li>{{'companyName' | translate }} {{exp.companyName}}</li>
                    <li>{{'description' | translate }} {{exp.description}}</li>
                    <li>{{'startDate' | translate }} {{exp.startDate | momentDate}}</li>
                    <li>{{'endDate' | translate }} {{exp.endDate | momentDate}}</li>
                  </div>
                </td>
              </tr>

            </tbody>
          </table>

        </div>
        <div class="col-sm-6">
          <p>
            <img [src]="worker.photo" class="img-thumbnail img-responsive" width="100%" />
          </p>
        </div>
        <p>
          <input type="submit" value="{{'submit'| translate }}" [disabled]="!worker.status" (click)="Book()" class="btn btn-default"
            id="bookProfile" />
        </p>
        <div class="btn btn-default" (click)="GoBack()">{{'back' | translate }}</div>
      </div>
    </div>
  </div>

</div>