<div role="tabpanel" class="tab-pane fade" id="tabProfile">
    <div class="row">
        <div class="col-md-8 col-sm-offset-2">
            <h3>Profile</h3>
            <div class="row">
                <div class="col-sm-6">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus hendrerit justo et bibendum. Morbi a convallis nulla. Nulla facilisi. Cras iaculis dictum nunc, a porttitor ante porta quis. Sed non magna magna. Donec ex ipsum, condimentum ut arcu vel, suscipit venenatis quam. Donec euismod diam eget justo congue vehicula. Suspendisse lobortis, magna eu tempor lacinia, erat leo pharetra ligula, non dictum lacus justo dignissim ante. Donec varius magna diam, sit amet hendrerit nulla interdum in.</p>
                </div>
                <div class="col-sm-6"><img src="" class="img-thumbnail img-responsive" width="100%" /></div>
            </div>
            <p><input type="submit" value="Book" (click)="Book()" class="btn btn-default" id="bookProfile" /></p>
        </div>
    </div>
</div>