.ui-multiselect .ui-multiselect-label ,.ui-state-default { 
    background: #ecedf2 !IMPORTANT; 
}
.ui-multiselect-label-container label.ui-multiselect-label.ui-corner-all {
    font-size: 15px;
    color: #555555f2;
    FONT-WEIGHT: normal;
    font: inherit;
    margin-bottom: 0px;
}
.ui-multiselect.ui-widget.ui-state-default.ui-corner-all{
    margin-bottom: 15px;
}
.ui-multiselect-trigger.ui-state-default.ui-corner-right{
    height: 99%;
    margin-top: 0.3px;
}
.ui-multiselect-trigger.ui-state-default.ui-corner-right {
    border: 0px;
}
body.navbar-is-fixed-top{
direction: rtl;
}
search-form .col-sm-6.col-sm-offset-2 {
direction: ltr;
}
.ClassisNew label,.ClassisNew p-checkbox{
    float: right;
} 