<div class="section section-overlay section-inverse section-border" id="sectionLogin" *ngIf="!isLoggedIn">

    <div class="container">
        <div class="section-content">
            <div class="content-wrapper">
                <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabLogin">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <h2 class="border-alt">التسجيل</h2>
                                <p class="login-icon">
                                    <img src="/Assets/src/app/images/icon_login.png" height="120" width="120" data-appear-animation="fadeIn" />
                                </p>

                                <form (ngSubmit)="Login()" id="loginForm" class="form-primary" #loginForm="ngForm">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="username" name="username" placeholder="{{'login.usernameP' | translate }}" [(ngModel)]="newUser.UserName"
                                            #userName="ngModel" />
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control" id="password" name="password" placeholder="{{'login.passwordP' | translate }}"
                                            [(ngModel)]="newUser.Password" #password="ngModel" />
                                    </div>
                                    <div class="form-group text-right">
                                        <a href="#" class="forgot-password" data-toggle="modal" data-target="#modalForgotPass">هل نسيت كلمة المرور</a>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="تسجيل الدخول" class="btn btn-primary" id="submitLoginForm" />
                                    </div>
                                    <div class="form-group">
                                        <a href="#tabRegister" class="btn btn-primary" data-toggle="tab">مستخدم جديد</a>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabRegister">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <h3>مستخدم جديد</h3>
                                <form action="#" method="post" id="registrationForm" class="form-primary" (ngSubmit)="CreateUser()" #createUserForm="ngForm">
                                    <div class="form-group required">
                                        <input type="text" required class="form-control" id="regfirstname" name="regfirstname" placeholder="{{'login.firstNameP' | translate }}"
                                            required="true" [(ngModel)]="newUser.FirstName" #firstName="ngModel" />
                                    </div>
                                    <div class="form-group required">
                                        <input type="text" required class="form-control" id="reglastname" name="reglastname" placeholder="{{'login.lastNameP' | translate }}"
                                            required="true" [(ngModel)]="newUser.LastName" #lastName="ngModel" />
                                    </div>
                                    <div class="form-group required">
                                        <input type="text" required class="form-control" id="regusername" name="regusername" placeholder="{{'login.usernameP' | translate }}"
                                            required="true" [(ngModel)]="newUser.UserName" #userName="ngModel" />
                                    </div>
                                    <div class="form-group required">
                                        <input type="text"  class="form-control" id="regcivilid" name="regcivilid" placeholder="{{'login.civilNumbP' | translate }}"
                                            required="false" minlength="12" maxlength="12" [(ngModel)]="newUser.CivilId" #civilId="ngModel"
                                        />
                                        <span class="help-block" *ngIf="!civilId.valid && (civilId.dirty || civilId.touched)"> {{'login.invalidCivilId' | translate}}</span>
                                    </div>
                                    <div class="form-group required">
                                        <input type="password" required class="form-control" id="regpassword" name="regpassword" placeholder="{{'login.passwordP' | translate }}"
                                            required="true" [(ngModel)]="newUser.Password" #password="ngModel" />
                                    </div>
                                    <div class="form-group required">
                                        <input type="password" required class="form-control" id="regconfirmpassword" name="regconfirmpassword" placeholder="{{'login.confirmPasswordP' | translate }}"
                                            required="true" [(ngModel)]="confirmPassword" #confirmPass="ngModel" />
                                        <span class="help-block" *ngIf="!passwordMatch() && (confirmPass.dirty || confirmPass.touched)"> {{ 'login.invalidPassword' | translate}}</span>
                                    </div>
                                    <div class="form-group required">
                                        <input type="email" required class="form-control" id="regemail" name="regemail" placeholder="{{'login.emailP' | translate }}"
                                            required="true" [(ngModel)]="newUser.Email" #email="ngModel" />
                                    </div>

                                    <div class="form-group required">
                                        <input required id="mobile" type="number" minlength="8" maxlength="9" class="form-control" name="mobile" placeholder="{{'mobile' | translate }}" [(ngModel)]="newUser.Mobile" #mobile="ngModel" />
                                    </div>

                                    <div class="form-group">
                                        <re-captcha (captchaResponse)="captchaSubmitted($event)" site_key="6LfQ0jMUAAAAAIjaj2GJWeXajhX3GmCeYKTiYBRw"></re-captcha>
                                        <span class="help-block" *ngIf="!recaptchaToken"> {{'login.invalidCaptcha' | translate }}</span>

                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="{{'submit' | translate}}" [disabled]="!passwordMatch() || !createUserForm.valid || !recaptchaToken"
                                            class="btn btn-primary" id="submitRegistrationForm" />
                                        <a href="#tabLogin" class="btn btn-primary" aria-controls="tabLogin" role="tab" data-toggle="tab" id="loginBack">Back</a>
                                    </div>
                                </form>
                                
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabNewPass">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <h3>نشئ كلمة مرور جديدة</h3>

                                <form action="#" method="post" id="newPassForm" class="form-primary">
                                    <div class="form-group required">
                                        <input type="password" class="form-control" id="newpassword" name="newpassword" placeholder="{{'login.newPasswordP' | translate }}"
                                            required="true" />
                                    </div>
                                    <div class="form-group required">
                                        <input type="password" class="form-control" id="newconfirmpassword" name="newconfirmpassword" placeholder="{{ 'login.confirmPasswordP' | translate }}"
                                            required="true" />
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="إرسال" class="btn btn-primary" id="submitNewPassForm" />
                                        <a href="#tabLogin" class="btn btn-primary" aria-controls="tabLogin" role="tab" data-toggle="tab">{{'back' | translate }}</a>

                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tabChangePass">
                        <div class="row">
                            <div class="col-md-6 col-md-offset-3">
                                <h3>نشئ كلمة مرور جديدة</h3>

                                <form action="#" method="post" id="changePassForm" class="form-primary">
                                    <div class="form-group required">
                                        <input type="password" class="form-control" id="changeoldpassword" name="changeoldpassword" placeholder="{{'login.oldPasswordP' | translate }}"
                                            required="true" />
                                    </div>
                                    <div class="form-group required">
                                        <input type="password" class="form-control" id="changepassword" name="changepassword" placeholder="{{'login.changePasswordP' | translate }}"
                                            required="true" />
                                    </div>
                                    <div class="form-group required">
                                        <input type="password" class="form-control" id="changeconfirmpassword" name="changeconfirmpassword" placeholder="{{'login.confirmChangePasswordP' | translate }}"
                                            required="true" />
                                    </div>

                                    <div class="form-group">
                                        <input type="submit" value="إرسال" class="btn btn-primary" id="submitChangePassForm" />
                                        <a href="#tabLogin" class="btn btn-primary" aria-controls="tabLogin" role="tab
                                           " data-toggle="tab">Back</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade in active" tabindex="-1" role="dialog" id="modalForgotPass">
            <ngx-loading [show]="forgotPassModalLoading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>

            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="غلق
                                           "><span aria-hidden="true">&times;</span></button>
                    </div>
                    <div class="modal-body">
                        <h4 *ngIf="!forgotPassModalText">ملء البريد الإلكتروني المسجل</h4>
                        <h3>{{forgotPassModalText | translate}}</h3>

                        <form action="#" method="post" id="forgotPassForm" *ngIf="!forgotPassModalText
                                           " (ngSubmit)="ForgotPassword(emailInput.value)">
                            <div class="form-group">
                                <input type="text" class="form-control" id="forgotPassEmail" name="email" placeholder="{{ 'login.emailP' | translate}}"
                                    #emailInput/>
                                <span id="helpBlock2" class="help-block" *ngIf="forgotPassModalError">{{forgotPassModalError}} </span>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="إرسال" class="btn btn-default" id="submitForgotPassForm" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>