<header role="navigation" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a href="/Assets/src/app/index.html/#sectionLanding" title="" rel="home" class="navbar-brand">
              <img src="/Assets/src/app/images/logo.png" alt="" />
            </a>
            <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false"
                aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse">
            <nav role="navigation">
                <ul class="menu nav navbar-nav">
                    <li><a href="#sectionContact" class="page-scroll">اتصل بنا</a></li>
                    <li *ngIf="!isLoggedIn"><a href="#sectionLogin" class="page-scroll">التسجيل</a></li>
                    <li><a href="#sectionWebshop" class="page-scroll">سوق الدرة</a></li>
                    <li><a href="#sectionCatalogue" class="page-scroll">كتالوج الدره</a></li>
                    <li><a href="#sectionServices" class="page-scroll">خدماتنا</a></li>
                    <li><a href="#sectionIntroduction" class="page-scroll"> نبذه عن الشركه</a></li>
                    <li *ngIf="isLoggedIn"><a (click)="logOut()" class="page-scroll btn btn-default">logOut</a></li>
                    <li *ngIf="!isLoggedIn"><a href="#sectionLogin" class="page-scroll btn btn-default">دخول</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<section role="main" class="main-container">
    <router-outlet></router-outlet>
</section>
<footer class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="copyright pull-left">2017 - كل الحقوق محفوظة</div>
            <div class="pull-right"><a href="#" class="facebook">FACEBOOK</a></div>
        </div>
    </div>
</footer>