<div class="container">
    <div class="section-content">
        <div class="content-wrapper">
            <div id="catalogueContainer" class="tab-content" #catalogue>
                <div role="tabpanel" class="tab-pane fade in active" id="tabCatalogue" #tabcatalogue>
                    <h2 class="border-alt"><a href="#tabSearchForm" data-toggle="tab">كتالوج الدرة</a></h2>
                    <p>يضم "كتالوج الدرة" شريحة واسعة من العمالة المختارة للعمل، حيث يوفر الكتالوج للعملاء العديد من الاختيارات، ويعتبر هذا الكتالوج بمثابة قاعدة بيانات يتاح للعميل تصفحه والاختيار منه بعد تسجيل الدخول وتثبيت شخصيته من خلال بيانات البطاقة المدنية.</p>
                    <p>     تضم كل صفحة من صفحات الكتالوج بيانات المرشح للعمل ويشمل ذلك: بياناته الشخصية (الاسم، الجنس، الجنسية، العمر، الديانة، الحالة الاجتماعية .. إلخ) ثم السمات الشخصية (المهارات اللغوية، الطول</p>
                    <p class="text-right"><a href="#tabSearchForm" (click)="GotoSearch()" class="btn btn-default" data-toggle="tab">Search for worker <span class="fa fa-search fa-fw"></span></a></p>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabSearchForm" #tabSearchForm>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-2">
                            <h3><span class="fa fa-search fa-fw fa-2x"></span> Advanced search</h3>
                            <form action="#" (ngSubmit)="GotoResults()" method="post" id="searchForm" name="searchForm" #f="ngForm" >
                                <div class="form-group">
                                    <input type="text" class="form-control" id="age" name="selectedAge" [(ngModel)]="searchContent.selectedAge" placeholder="Age" />
                                </div> 
                                <!--<div class="form-group">
                                    <select class="form-control" name="selectedCountry" [(ngModel)]="searchContent.selectedCountry">
                                        <option value="null" disabled selected>Nationality</option>
                                        <option *ngFor="let country of countries" [value]="country.value">{{country.name}}</option>
                                    </select>
                                </div>-->
                                <div class="form-group">
                                    <select class="form-control" name="selectedCountry" [(ngModel)]="searchContent.selectedCountry">
                                        <option value="null" disabled selected>Nationality</option>
                                        <option *ngFor="let country of countries" [selected]="country.value == 1" [value]="country">{{country.name}}</option>
                                    </select>
                                </div>
                                    <div class="form-group">
                                        <select class="form-control" name="selectedGender" ([ngModel])="searchContent.selectedGender">
                                            <option value="null" disabled selected>Gender</option>
                                            <option *ngFor="let gndr of gender" [value]="gndr.value">{{gndr.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="selectedStatus">
                                            <option value="null" disabled selected>Marital Status</option>
                                            <option *ngFor="let mStatus of maritalStatus" [value]="mStatus.value">{{mStatus.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="selectedType" ([ngModel])="searchContent.selectedType">
                                            <option value="null" disabled selected>Type</option>
                                            <option *ngFor="let workerType of workerTypes" [value]="workerType.value">{{workerType.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <select class="form-control" name="selectedLanguage" ([ngModel])="searchContent.selectedLanguage">
                                            <option value="null" disabled selected>Language</option>
                                            <option *ngFor="let language of languages" [value]="language.value">{{language.name}}</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <input type="submit" value="Search" class="btn btn-default" id="submitSearchForm" />
                                    </div>
</form>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabSearchResults" #tabSearchResults>
                    <div class="row">
                        <div class="col-md-8 col-sm-offset-2">
                            <h3><span class="fa fa-search fa-fw fa-2x"></span> Advanced search results</h3>
                            <p>Please select "ONE" worker.</p>
                            <p-dataTable styleClass="table table-bordered table-hover" [value]="workers" [globalFilter]="gb"
                                         [paginator]="true" rows="15" [responsive]="true" [tableStyle]="{'table-layout':'auto'}" #dt>
                                <p-column field="agent" header="Agent"></p-column>
                                <p-column field="image" header="Image">
                                    <ng-template let-col let-worker="rowData" pTemplate="body">
                                        <a (click)="GotoProfile(worker)" data-toggle="tab"><img src="{{worker[col.field]}}" width="87" class="img-thumbnail /"></a>
                                    </ng-template>
                                </p-column>
                                <p-column field="weight" header="Weight" [filter]="false" [sortable]="true"></p-column>
                                <p-column field="height" header="Height" [filter]="false" [sortable]="true"></p-column>
                                <p-column header="Available" [style]="{'text-align': 'center'}"[filter]="false">
                                    <ng-template let-worker="rowData" pTemplate="body">
                                        <a href="#tabProfile" data-toggle="tab"><span [ngClass]="GetAvailableCSS(worker)"></span></a>
                                    </ng-template>
                                </p-column>

                                <p-column header="Video" [filter]="false" [style]="{'text-align': 'center'}" >
                                    <ng-template let-worker="rowData" pTemplate="body" >
                                            <iframe width="200" height="200"  [src]="sanitizer.bypassSecurityTrustResourceUrl(worker.video)"  frameborder="0" allowfullscreen></iframe>
                                    </ng-template>
                                </p-column>
                            </p-dataTable>
                        </div>
                        <p><input type="submit" value="Back" (click)="GotoSearch()" class="btn btn-default" /></p>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="tabProfile" #tabprofile>
                    <div class="row">
                        <div class="col-md-8 col-sm-offset-2">
                            <h3>Profile</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec luctus hendrerit justo et bibendum. Morbi a convallis nulla. Nulla facilisi. Cras iaculis dictum nunc, a porttitor ante porta quis. Sed non magna magna. Donec ex ipsum, condimentum ut arcu vel, suscipit venenatis quam. Donec euismod diam eget justo congue vehicula. Suspendisse lobortis, magna eu tempor lacinia, erat leo pharetra ligula, non dictum lacus justo dignissim ante. Donec varius magna diam, sit amet hendrerit nulla interdum in.</p>
                                </div>
                                <div class="col-sm-6"><img src="{{selectedWorker?.image}}" class="img-thumbnail img-responsive" width="100%" /></div>
                            </div>
                            <p><input type="submit" value="Book" (click)="Book(selectedWorker)" class="btn btn-default" id="bookProfile" /></p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>