<!-- <section role="main" class="main-container subpage"> -->
<div class="section section-overlay section-full-width full-height" id="sectionCatalogue2">
  <div class="container">
    <div class="section-content">
      <div class="content-wrapper">
        <div class="tab-content">
          <div class="tabpanel">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="text-center">
                  <span class="icon icon-ed-search icon-3x"></span> {{state.title}}</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6 col-md-offset-3">

                <form (ngSubmit)="addWorker(photoUpload,passportUpload);" method="post" id="profileEditForm" class="form-default has-upload"
                  #workerForm="ngForm">

                  <div class="form-group">
                    <label for="birthDate">BirthDate</label>
                    <input id="birthDate" type="date" class="form-control" name="birthDate" [value]="state.worker.birthDate | date: 'yyyy-MM-dd'"
                      (input)="state.worker.birthDate = $event.target.valueAsDate" />
                  </div>

                  <div class="form-group">
                    <label for="gender">Gender</label>
                    <!-- <option>الجنس</option> -->
                    <select id="gender" class="form-control" name="gender" #genderInput>
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriterias.gender;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="nationality">Nationality</label>
                    <!-- <option>الجنسية</option> -->
                    <select id="nationality" class="form-control" name="nationality" #nationalityInput>
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriterias.nationality;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="religion">Religion</label>
                    <!-- <option>Religion</option> -->
                    <select id="religion" class="form-control" name="religion" #religionInput>
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriterias.religion;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group ">
                    <label for="marital">الحالة الاجتماعية</label>
                    <!-- <option>الحالة الاجتماعية</option> -->
                    <select id="marital" class="form-control" name="maritalStatus">
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriterias.maritalStatus;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group ">
                    <label for="lang">اللغات المتحدث بها</label>
                    <!-- <option>اللغات المتحدث بها</option> -->
                    <select id="lang" class="form-control" name="language" #languageInput>
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriterias.languages;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group ">
                    <label for="weight">Weight</label>
                    <input id="weight" type="text" class="form-control" placeholder="..kg" name="weight" #weightInput />
                  </div>

                  <div class="form-group ">
                    <label for="height">Height</label>
                    <input name="height" id="height" type="text" class="form-control" placeholder="..cm" #heightInput />
                  </div>

                  <div class="form-group ">
                    <label for="education">Education</label>
                    <select id="education" class="form-control" name="education" #educationInput>
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriterias.education;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group ">
                    <label for="video">Video</label>
                    <input name="videopublic" id="video" type="text" class="form-control" placeholder="http://Video Link" />
                  </div>

                  <div class="form-group ">
                    <label for="passNumb"> PassportNumber</label>
                    <input id="passNumb" name="passortNumber" type="text" class="form-control" placeholder="ex. 12345" />
                  </div>

                  <div class="form-group ">
                    <label for="passIssueDate">Passport Issue Date</label>
                    <input id="passIssueDate" name="passportIssueDate" type="date" [value]="state.worker.passportIssDate | date: 'yyyy-MM-dd'"
                      (input)="state.worker.passportIssDate = $event.target.valueAsDate" class="form-control" />
                  </div>


                  <div class="form-group ">
                    <label for="passPoIssue">Passport Place of Issue</label>
                    <input name="passportPoIssue" type="text" class="form-control" placeholder="ex. Germany" />
                  </div>

                  <div class="form-group ">
                    <label for="passExpiry">Passport Expiry</label>
                    <input name="passportExpiry" type="date" [value]="state.worker.passportExpDate | date: 'yyyy-MM-dd'" (input)="state.worker.passportExpDate = $event.target.valueAsDate"
                      class="form-control" />
                  </div>


                  <div class="form-group ">
                    <label for="civilID"> Civil ID</label>
                    <input id="civilID" name="civilId" type="text" class="form-control" placeholder="ex. 1234" />
                  </div>

                  <div class="form-group">
                    <label for="photoUpload">Photo Upload</label>
                    <p-fileUpload id="photoUpload" name="myfile[]" customUpload="true" #photoUpload></p-fileUpload>
                  </div>
                  <div class="form-group ">
                    <label for="passportUpload">Passport Upload</label>
                    <p-fileUpload id="passportUpload" name="myfile2[]" customUpload="true" #passportUpload></p-fileUpload>
                  </div>

                  {{state.worker | json}}

                  <div class="form-group  text-right">
                    <input type="submit" value="Save" class="btn btn-default" />
                  </div>
                  <div class="form-group  text-right">
                    <div class="btn btn-default" (click)="back()">{{'back' | translate }}</div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- </section> -->
  <!-- <div>
                  Temp Text
                  <label for="file">Upload Files</label>
                  <input type="file" id="file" multiple #files>
                  <button (click)="originalUploadFile(files)">Submit!</button>
                </div>
  -->