<!-- <section role="main" class="main-container subpage"> -->
<div class="section section-overlay section-full-width full-height" id="sectionCatalogue2">
  <div class="container">
    <div class="section-content">
      <ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px' }"></ngx-loading>
      <div class="content-wrapper">
        <div class="tab-content">
          <div class="tabpanel">
            <div class="row">
              <div class="col-xs-12">
                <h2 class="text-center">
                  <span class="icon icon-ed-search icon-3x"></span> {{state.title}}</h2>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6 col-md-offset-3">

                <form (ngSubmit)="submitWorker(photoUpload, passportUpload, licenseUpload);" method="post" id="profileEditForm" class="form-default has-upload"
                  #workerForm="ngForm">

                  <div class="form-group">
                    <label for="workerName">{{ 'name' | translate }}</label>
                    <input required id="workerName" type="text" class="form-control" name="workerName" [(ngModel)]="state.worker.workerName"
                      placeholder="John Doe" />
                  </div>


                  <div class="form-group">
                    <label for="birthDate">{{ 'birthDate' | translate }}</label>

                    <div>
                    <p-calendar  showIcon="true" [(ngModel)]= "state.worker.birthDate" name="birthDate" dateFormat="mm/dd/yy"></p-calendar>
                    </div>
                  </div>

                  <div class="form-group">
                    <label for="gender">{{ 'gender' | translate }}</label>
                    <select required id="gender" class="form-control" name="gender" [(ngModel)]="state.worker.gender">
                      <option disabled selected value=""> {{state.selectOptionText}}</option>
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriterias.gender;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="nationality">{{ 'nationality' | translate }}</label>
                    <!-- <option>الجنسية</option> -->
                    <select required id="nationality" class="form-control" name="nationality" [(ngModel)]="state.worker.nationality">
                      <option disabled selected value=""> {{state.selectOptionText}}</option>
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriterias.nationality;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="religion">{{ 'religion' | translate }}</label>
                    <!-- <option>Religion</option> -->
                    <select required id="religion" class="form-control" name="religion" [(ngModel)]="state.worker.religion">
                      <option disabled selected value=""> {{state.selectOptionText}}</option>
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriterias.religion;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group ">
                    <label for="marital">{{ 'maritalStatus' | translate }}</label>
                    <select required id="marital" class="form-control" name="maritalStatus" [(ngModel)]="state.worker.maritalStatus">
                      <option disabled selected value=""> {{state.selectOptionText}}</option>
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriterias.maritalStatus;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group ">
                    <label for="lang">{{ 'languages' | translate }}</label>
                    <div>
                      <p-multiSelect required name="lang" defaultLabel="اللغات المتحدث بها"  [options]="searchCriterias.languages"  [(ngModel)]="this.state.worker.languages" ></p-multiSelect>
                    </div>
                  </div>
                  
                  <div class="form-group ">
                    <label for="salary">{{ 'salary' | translate }}</label>
                    <input required id="salary"  type="number" class="form-control"  name="salary" [(ngModel)]="state.worker.salary" />
                  </div>

                  <div class="form-group ">
                    <label for="price">{{ 'price' | translate }}</label>
                    <input required id="price"  type="number" class="form-control"  name="price" [(ngModel)]="state.worker.price" />
                  </div>  


                  <div class="form-group ">
                    <label for="mobile">{{ 'mobile' | translate }}</label>
                    <input required id="mobile" type="number"  minlength="9" maxlength="9" class="form-control"  name="mobile" [(ngModel)]="state.worker.mobile" #mobileInput="ngModel"/>
                  </div>

                  <div class="form-group ">
                    <label for="weight">{{ 'weight' | translate }}</label>
                    <input required id="weight" type="text" class="form-control" placeholder="..kg" name="weight" [(ngModel)]="state.worker.weight"
                    />
                  </div>

                  <div class="form-group ">
                    <label for="height">{{ 'height' | translate }}</label>
                    <input required name="height" id="height" type="text" class="form-control" placeholder="..cm" [(ngModel)]="state.worker.height"
                    />
                  </div>

                  <div class="form-group ">
                    <label for="education">{{ 'education' | translate }}</label>
                    <select required id="education" class="form-control" name="education" [(ngModel)]="state.worker.education">
                      <option disabled selected value=""> {{state.selectOptionText}}</option>
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriterias.education;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group ">
                    <label for="workerType">{{ 'workerType' | translate }}</label>
                    <select required id="workerType" (change)="onWorkerTypeSelected($event.target.value)" class="form-control" name="workerType" [(ngModel)]="state.worker.workerType">
                      <option disabled selected value=""> {{state.selectOptionText}}</option>
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriterias.workerTypes;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group ">
                    <label for="Items">{{ 'item' | translate }}</label>
                    <select required id="Items"  class="form-control" name="code" [(ngModel)]="state.worker.code">
                      <option disabled selected value=""> {{state.selectOptionText}}</option>
                      <option [value]="nameValuePair.value" *ngFor="let nameValuePair of itemList;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
                  </div>

                  <div class="form-group ">
                    <label for="video">{{ 'video' | translate }}</label>
                    <input name="videopublic" id="video" type="text" class="form-control" placeholder="http://Video Link" [(ngModel)]="state.worker.video"
                    />
                  </div>

                  <div class="form-group ">
                    <label for="passNumb"> {{ 'passportNumber' | translate }}</label>
                    <input required id="passNumb" name="passortNumber" type="text" class="form-control" placeholder="ex. 12345" [(ngModel)]="state.worker.passportNumber"
                    />
                  </div>

                  <div class="form-group ">
                    <label for="passIssueDate">{{ 'passportIssueDate' | translate }}</label>
                    <div>
                    <p-calendar  showIcon="true" [(ngModel)]= "state.worker.passportIssDate" name="passportIssueDate" dateFormat="mm/dd/yy"></p-calendar>
                    </div>
                  </div>


                  <div class="form-group ">
                    <label for="passPoIssue">{{ 'passportPlaceofIssue' | translate }}</label>
                    <input required name="passportPoIssue" type="text" class="form-control" placeholder="ex. Germany" [(ngModel)]="state.worker.passportPoIssue"
                    />
                  </div>

                  <div class="form-group ">
                    <label for="passExpiry">{{ 'passportExpiry' | translate }}</label>
                    <div>
                      <p-calendar  showIcon="true" [(ngModel)]= "state.worker.passportExpDate" name="passportExpiry" dateFormat="mm/dd/yy"></p-calendar>
                      </div>

                  </div>


                  <div class="form-group ">
                    <label for="civilID"> {{ 'civilID' | translate }}</label>
                    <input id="civilID" name="civilId" type="text" class="form-control" placeholder="ex. 1234" [(ngModel)]="state.worker.civilId"
                    />
                  </div>
                  <div class="form-group">
                    <label for="photoUpload">{{ 'photoUpload' | translate }}</label>
                    <p-fileUpload id="photoUpload" name="myfile[]" customUpload="true" multiple="false" (onSelect)="deleteServerFile('PHOTO')" #photoUpload>
                      <ng-template pTemplate="content">
                        <div class="ui-fileupload-files" [style.display]="photoServerMode === FUM.Edit? 'block' : 'none'">
                          <div>
                            <div class="ui-fileupload-row">
                              <div>
                                <img [src]="state.worker.photo" width="50">
                              </div>
                              <div>{{photoFileName || "Saved File"}}</div>
                              <div></div>
                              <div>
                                <button (click)="deleteServerFile('PHOTO')" icon="fa-close" pbutton="" type="button" ng-reflect-icon="fa-close" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                                  <span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span>
                                  <span class="ui-button-text ui-clickable">ui-btn</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </p-fileUpload>

                  </div>
                  <div class="form-group ">
                    <label for="passportUpload">{{ 'PassportUpload' | translate }}</label>
                    <p-fileUpload id="passportUpload" name="myfile2[]" customUpload="true" [multiple]="false" (onSelect)="deleteServerFile('PASSPORT')"
                      #passportUpload>
                      <ng-template pTemplate="content">
                        <div class="ui-fileupload-files" [style.display]="passportServerMode === FUM.Edit? 'block' : 'none'">
                          <div>
                            <div class="ui-fileupload-row">
                              <div>
                                <img [src]="state.worker.passport" width="50">
                              </div>
                              <div>{{ passportFileName || "Saved File"}}</div>
                              <div></div>
                              <div>
                                <button (click)="deleteServerFile('PASSPORT')" icon="fa-close" pbutton="" type="button" ng-reflect-icon="fa-close" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                                  <span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span>
                                  <span class="ui-button-text ui-clickable">ui-btn</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </p-fileUpload>
                  </div>
                  <div class="form-group ">
                    <label for="licenseUpload">license</label>
                    <p-fileUpload id="licenseUpload" name="myfile3[]" customUpload="true" [multiple]="false" (onSelect)="deleteServerFile('LICENSE')"
                      #licenseUpload>
                      <ng-template pTemplate="content">
                        <div class="ui-fileupload-files" [style.display]="licenseServerMode === FUM.Edit? 'block' : 'none'">
                          <div>
                            <div class="ui-fileupload-row">
                              <div>
                                <img [src]="state.worker.license" width="50">
                              </div>
                              <div>{{ licenseFileName || "Saved File"}}</div>
                              <div></div>
                              <div>
                                <button (click)="deleteServerFile('LICENSE')" icon="fa-close" pbutton="" type="button" ng-reflect-icon="fa-close" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only">
                                  <span class="ui-button-icon-left ui-clickable fa fa-fw fa-close"></span>
                                  <span class="ui-button-text ui-clickable">ui-btn</span>
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </ng-template>
                    </p-fileUpload>
                  </div>
                  <div class="form-group  text-right">
                    <input type="submit" value="{{ 'save' | translate }}" class="btn btn-default" [disabled]="!workerForm.valid || !isFilesAttached() || state.worker.languages.length === 0"
                      *ngIf="state.isAddMode" />
                    <input type="submit" value="{{ 'update' | translate }}" class="btn btn-default" *ngIf="!state.isAddMode" />

                  </div>
                  <div class="form-group  text-right">
                    <div class="btn btn-default" (click)="back()">{{'back' | translate }}</div>
                  </div>
                  <div class="form-group  text-left">
                    <div class="btn btn-default" (click)="clearForm()">{{'clear' | translate }}</div>
                  </div>

                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>