<div role="tabpanel" class="tab-pane fade in active">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-2">
      <h3><span class="fa fa-search fa-fw fa-2x"></span> البحث المتقدم</h3>
      <form action="#" (ngSubmit)="GotoResults(workTypeInput,ageInput ,genderInput ,nationalityInput ,martialStatusInput ,languageInput )"
        method="post" id="searchForm" name="searchForm" #f="ngForm">
        <div class="form-group">
             <select class="form-control" #workTypeInput>
                     <option>نوع العامل</option>
                     <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriteriaParams.workerTypes;">
                       {{nameValuePair.name}}
                     </option>
                   </select>
        </div>
        <div class="form-group">
          <select class="form-control" #ageInput>
                     <option>العمر</option>
                     <option value="18-25">18-25</option>
                     <option value="25-35">25-35</option>
                     <option value="35-45">35-45</option>
                     <option value="45-55">45-55</option>
                   </select>
        </div>
        <div class="form-group">
          <select class="form-control" #genderInput>
                     <option>الجنس</option>
                     <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriteriaParams.gender;">
                        {{nameValuePair.name}}
                      </option>
                   </select>
        </div>
        <div class="form-group">
          <select class="form-control" #nationalityInput>
                     <option>الجنسية</option>
                     <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriteriaParams.nationality;">
                        {{nameValuePair.name}}
                      </option>
                   </select>
        </div>
        <div class="form-group">
          <select class="form-control" #martialStatusInput>
                     <option>الحالة الاجتماعية</option>
                     <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriteriaParams.maritalStatus;">
                        {{nameValuePair.name}}
                      </option>
                   </select>
        </div>
        <div class="form-group" #languageInput>
          <select class="form-control">
                     <option>اللغات المتحدث بها</option>
                     <option [value]="nameValuePair.value" *ngFor="let nameValuePair of searchCriteriaParams.languages;">
                        {{nameValuePair.name}}
                      </option>
                    </select>
        </div>

        <div class="form-group">
          <input type="submit" value="{{'search' | translate}}" class="btn btn-default" id="submitSearchForm" />
        </div>
      </form>
    </div>
  </div>
</div>