<!-- <section role="main" class="main-container subpage"> -->
    
          <div class="section section-overlay section-full-width full-height" id="">
            <div class="container">
             <div class="section-content">
                <div class="content-wrapper">
                   <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade in active" id="tabProfile2">
    
                      <div id="profileCarousel" class="carousel data-ride='carousel'">
    
                          <!-- Wrapper for slides -->
                          <div class="carousel-inner">
                            <div  *ngFor="let worker of workers;let i = index" class="item {{i === 0? 'active':''}} ">
                              <div class="box profile-box clearfix">
                                <div class="profile-main">
                                  <div class="profile-thumb">
                                    <img [src]="worker.photo" class="img-responsive">
                                  </div>
                                  <div class="datas">
                                    <div class="profile-data">
                                        <div class="row">
                                            <div class="col-sm-6"><h3 class="h5">{{worker.workerName}}</h3></div>
                                            <div class="col-sm-6"><small>{{worker.birthDate | momentDate}}</small></div>
                                        </div>
                                        <hr />
                                        <div class="row">
                                            <div class="col-sm-6">
                                              <ul class="list-unstyled">
                                                <li>{{worker.gender}}</li>
                                                <li>{{worker.nationality}}</li>
                                                <li>{{worker.education}}</li>
                                                <li>{{worker.serialNumber}}</li>
                                                <ul >
                                                <li *ngFor="let language of worker.languages">
                                                    {{ language.name!}}
                                                  </li>
                                                </ul>
                                                <li>{{worker.religion}}</li>
                                                <li>{{worker.maritalStatus}}</li>
                                                <li><span class="icon icon-ed-kg icon-fw"></span> {{worker.weight}}</li>
                                              </ul>
                                            </div>
                                            <div class="col-sm-6">
                                              <ul class="list-unstyled">
                                                <li><a [href]="worker.video">{{worker.video}}</a></li>
                                                <li>Passport Copy <a [href]="worker.passport"><small>Download</small></a></li>
                                                <li>Passport Number: <strong>{{worker.passportNumber}}</strong></li>
                                                <li>Passport Expiry Date: <strong>{{worker.passportExpDate | momentDate}}</strong></li>
                                                <li>Passport Issue Date: <strong>{{worker.passportIssDate | momentDate}}</strong></li>
                                                <li>Passport Place of Issue: <strong>{{worker.passportPoIssue}}</strong></li>
                                                <li>Civil ID: <strong>{{worker.civilId}}</strong></li>
                                                <li><span class="icon icon-ed-height icon-fw"></span>{{worker.height}}</li>
                                                <li>Languages <strong> {{worker.languages | languageConvert }} </strong></li>
                                              </ul>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
   
                          </div>
    
                          <!-- Left and right controls -->
                          <a class="left carousel-control" href="#profileCarousel" data-slide="prev">
                            <span class="icon icon-ed-arrow-left"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#profileCarousel" data-slide="next">
                            <span class="icon icon-ed-arrow-right"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
    
                    </div>
                    <div class="btn btn-default" (click)="back()">{{'back' | translate }}</div>
                  </div>
    
                </div>
              </div>
            </div>
          </div>
    
        <!-- </section> -->
    