<div role="tabpanel" class="tab-pane fade" id="tabSearchResults" #tabSearchResults>
    <div class="row">
        <div class="col-md-8 col-sm-offset-2">
            <h3><span class="fa fa-search fa-fw fa-2x"></span> Advanced search results</h3>
            <p>Please select "ONE" worker.</p>
            <table class="table table-bordered table-hover">
                <tbody>
                    <tr>
                        <td><a href="#tabProfile" data-toggle="tab"><img src="" width="87" class="img-thumbnail /"></a></td>
                        <td>63kg</td>
                        <td>1m63</td>
                        <td><a href="#tabProfile" data-toggle="tab">available</a></td>
                        <td><a href="#tabProfile" data-toggle="tab"><span class="glyphicon glyphicon-play-circle"></span></a></td>
                        <td><a href="#tabProfile" data-toggle="tab"><span class="glyphicon glyphicon-ok"></span></a></td>
                    </tr>
                    <tr>
                        <td><a href="#tabProfile" data-toggle="tab"><img src="" width="87" class="img-thumbnail /"></a></td>
                        <td>63kg</td>
                        <td>1m63</td>
                        <td><a href="#tabProfile" data-toggle="tab">available</a></td>
                        <td><a href="#tabProfile" data-toggle="tab"><span class="glyphicon glyphicon-play-circle"></span></a></td>
                        <td><a href="#tabProfile" data-toggle="tab"><span class="glyphicon glyphicon-ok"></span></a></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>