
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <base href="/">  
    <link href="https://fonts.googleapis.com/css?family=Mada:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bungee+Hairline" rel="stylesheet">

    <link href="~/Assets/src/app/libraries/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Assets/src/app/libraries/animate-css/animate.css" rel="stylesheet" />
    <link href="~/Assets/src/app/libraries/scrolling-nav/scrolling-nav.css" rel="stylesheet" />

    <link rel="shortcut icon" href="~/Assets/src/app/images/favicon.ico" />

</head>
<body>
    <app-root>Loading...</app-root>
    @*<link href="~/dist/vendor.css" rel="stylesheet" />
    <script src="~/dist/inline.12b328808b04544035fb.bundle.js"></script>
    <script src="~/dist/MainClient.js"></script>*@  
    <script type="text/javascript" src="~/dist/inline.12b328808b04544035fb.bundle.js"></script>
    <script type="text/javascript" src="~/dist/polyfills.2574093f36d9f3b04cc1.bundle.js"></script>
    <script type="text/javascript" src="~/dist/vendor.69cc565db77648501ab0.bundle.js"></script>
    <script type="text/javascript" src="~/dist/main.8f8a421d308c3ffa8fc4.bundle.js"></script>

    <script src="~/Assets/src/app/libraries/jquery/jquery.js"></script>
    <script src="~/Assets/src/app/libraries/bootstrap/bootstrap.js"></script>
    <script src="~/Assets/src/app/libraries/jquery-appear/jquery.appear.js"></script>
    <script src="~/Assets/src/app/libraries/jquery-easing/jquery.easing.min.js"></script>
    <link href="~/Assets/src/app/libraries/scrolling-nav/scrolling-nav.css" rel="stylesheet" />
    <script src="~/Assets/src/app/libraries/scrolling-nav/scrolling-nav.js"></script>
    <link href="~/Assets/src/app/libraries/animate-css/animate.css" rel="stylesheet" />
    <link href="~/Assets/src/app/css/styles.css" rel="stylesheet" />
    <script src="~/Assets/src/app/js/animate.js"></script>
    <script src="~/Assets/src/app/js/catalogue.js"></script>
    <script src="~/Assets/src/app/js/login.js"></script>
    <script src="~/Assets/src/app/js/scroll.js"></script>
    <script src="~/Assets/src/app/js/webshop.js"></script>

</body>
</html>




